*{
    margin: 0px;
    padding: 0px;
}

#general{
    margin: auto;
    margin-top: 15px;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    margin-top: 100px;
    border-radius: 150px;
}

#caja1{
    margin: auto;
    width: 300px;
    height: 50px; 
    background-color: transparent;
}
 
#caja2{
    margin-left: 60px;
    float: left;
    width: 50px;
    height: 50px;
    background-color: burlywood;
    border-radius: 150px;
}

#caja3{
    margin-right: 60px;
    float: right;
    width: 50px;
    height: 50px;
    background-color: burlywood;
    border-radius: 150px;
}

#caja4{
    margin: auto;
    width: 300px;
    height: 60px; 
    background-color: transparent;
}

#caja5{
    margin: auto;
    width: 70px;
    height: 50px;
    background-color: rgb(69, 206, 27);
    border-radius: 50px;
}

#caja6{
    margin: auto;
    width: 300px;
    height: 30px; 
    background-color: transparent;
}

#caja7{
    margin: auto;
    width: 150px;
    height: 80px;
    background-color: rgb(199, 88, 175);
    border-radius: 50%;
}
  